a{
    text-decoration: none;
    font-size: xx-large;
}
a:link{
   color: rgb(12, 11, 7);
}
a:visited{
color: rgb(172, 119, 55);
}
a:active{
    color: rgb(52, 209, 31);

}
a:hover{
    color: rgb(66, 15, 176);
}
